body {
  background-image: url('../images/green-texture-tile.jpg');
}
main.page-container header {
  background-image: url('../images/wood-tile-2.jpg');
  height: 7.1em;
  margin-bottom: 1em;
  border-radius: 1em;
  color: white;
  text-shadow: 2px 3px 5px #000;
}
.ng-invalid.ng-dirty {
  border:1px solid;
  border-color:red;
}
.ng-valid.ng-dirty {
  border:1px solid;
  border-color:green;
}
.page-container {
    width: 80%;
    margin: 0px auto;
}
.img-thumbnails li {
    display: inline-block;
}
.prod-big-img {
    width: 40%;
}